.product-img{
  width: 500px;
  height: 420px;
  background-size: cover;
  margin-left: 50px;
}
.cena{
  font-weight: bold;
  font-size:36px ;

}
.proizvoditel{
  font-weight: bold;
  font-size: 20px;
}
h2{
  font-weight: bold;
  text-align: center;
  font-size: 27px;
}
.ram{
  font-size: 18px;
  font-weight: 500;
}
p{
  margin-top: 24px;
}

