<h2 mat-dialog-title>{{ product.title }}</h2>
<mat-dialog-content class="mat-typography">
  <div class="container d-flex mt-3">
    <div>
      <img class="product-img" [src]="product.image" />
    </div>
    <div class="product-details mt-5">
      <p class="cena">{{ product.price }}</p>
      <p class="proizvoditel">{{ product.manufacturer }}</p>
      <p class="ram">Рам Меморија: {{ product.ram }}</p>
      <p class="ram">Екран: {{ product.display }}</p>
      <p class="ram">Меморија: {{ product.storage }}</p>
    </div>
  </div>
</mat-dialog-content>
