.img-logo{
  height: 70px;
  width: 70px;
  border-radius: 50px;
  margin-right: 15px;
}
a{
  font-weight: bold;
  text-decoration: none;
  margin-right: 50px;
  color: black;
  transition: all 0.3s ease-in-out;

}
.nav-router{
  font-size: 18px;
  margin-left: 300px;

.main-header{
  justify-content: center !important;
}

}
a:hover {
  transform: scale(1.1);
}

@media (max-width:991px){
  .navigation-desktop{
    display: none !important;
  }
  .navbar-brand{
    display: none !important;
  }
}
@media (min-width:992px){
  .mobile-navigation{
    display: none !important;
  }
}



//


