<nav class="navbar navbar-expand-lg navbar-light bg-light main-header">
  <img
    class="img-logo"
    src="../../../assets/img/9505a3288810f3e457eed84a2e6adbd9.webp"
  />
  <a class="navbar-brand" href="#">TechStore</a>
  <div class="nav-router d-flex navigation-desktop">
    <a
      class="btn-underline"
      [routerLink]="['/laptop']"
      routerLinkActive="active-laptop"
      >Лаптопи</a
    >
    <a
      class="btn-underline"
      [routerLink]="['/telefoni']"
      routerLinkActive="active-telefoni"
      >Телефони</a
    >
    <a
      class="btn-underline"
      [routerLink]="['/tablet']"
      routerLinkActive="active-tablet"
      >Таблети</a
    >
    <a
      class="btn-underline"
      [routerLink]="['/televizori']"
      routerLinkActive="active-televizori"
      >Телевизори</a
    >
  </div>

  <!-- hamburger menu start -->

  <nav class="navbar navbar-light mobile-navigation">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TechStore</h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item"></li>
            <a
              class="btn-underline"
              [routerLink]="['/laptop']"
              routerLinkActive="active-laptop"
              >Лаптопи</a
            >
            <a
              class="btn-underline"
              [routerLink]="['/telefoni']"
              routerLinkActive="active-telefoni"
              >Телефони</a
            >
            <a
              class="btn-underline"
              [routerLink]="['/tablet']"
              routerLinkActive="active-tablet"
              >Таблети</a
            >
            <a
              class="btn-underline"
              [routerLink]="['/televizori']"
              routerLinkActive="active-televizori"
              >Телевизори</a
            >
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- hamburger menu end -->
</nav>
