<mat-card class="example-card">
  <div class="image-input image-input-outline d-flex justify-content-center">
    <img class="product-image" mat-card-image [src]="products.image" alt="" />
  </div>

  <mat-card-content>
    <h3 class="card-title">{{ products.title }}</h3>
    <p class="cena">Цена: {{ products.price }}</p>
    <p class="proizvoditel">Производител: {{ products.manufacturer }}</p>
  </mat-card-content>
  <mat-card-actions class="btn-out">
    <button class="btn" mat-button (click)="openDetails()">Види Детали</button>
  </mat-card-actions>
</mat-card>
