.product-image{
  background-size: cover;
  width: 250px;
  height: 170px;
  margin-top: 20px !important;
}
.container{
  margin-bottom: 20px;
  width: 70%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
.product-image{
  width: 100%;
}
.right-content{
  width: 100%;

}
.card-title{
  text-align: end;
  height: 60px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 28px;
}
.cena{
  text-align: end;
  font-weight: 500;
    font-size: 18px;

}
.proizvoditel{
  text-align: end;
  font-weight: 500;
  font-size: 15px;
}
.btn-out{
 float: right;
 display: grid;
 font-weight: 500;
 line-height: 1.5;

 text-align: center;
 text-decoration: none;
 vertical-align: middle;
 cursor: pointer;
 border: 1px solid transparent;
 padding: 0.75rem 1.35rem;
 font-size: 0.875rem;
 border-radius: 0.25rem;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn{
  background-color: lightgray;
}
