<div class="container d-flex">
  <div>
    <img class="product-image" [src]="products.image" />
  </div>
  <div class="right-content">
    <h3 class="card-title">{{ products.title }}</h3>
    <p class="cena">Цена: {{ products.price }}</p>
    <p class="proizvoditel">Производител: {{ products.manufacturer }}</p>
    <mat-card-actions class="btn-out">
      <button class="btn" mat-button (click)="openDetails()">
        Види Детали
      </button>
    </mat-card-actions>
  </div>
</div>
