<div
  id="carouselExampleIndicators"
  class="carousel slide container"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      style="color: black"
      data-slide-to="0"
      class="active"
    ></li>
    <li
      data-target="#carouselExampleIndicators"
      style="color: black"
      data-slide-to="1"
    ></li>
    <li
      data-target="#carouselExampleIndicators"
      style="color: black"
      data-slide-to="2"
    ></li>
  </ol>
  <div class="carousel-inner w-100">
    <div class="carousel-item active ad1">
      <!-- <img class="d-block w-100" src="" alt="First slide" /> -->
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
    <div class="carousel-item ad2">
      <!-- <img class="d-block w-100" src="" alt="Second slide" /> -->
    </div>
    <div class="carousel-item ad3">
      <!-- <img class="d-block w-100" src="" alt="Third slide" /> -->
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span
      class="carousel-control-prev-icon"
      style="color: black"
      aria-hidden="true"
    ></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span
      class="carousel-control-next-icon"
      style="color: black"
      aria-hidden="true"
    ></span>
    <span class="sr-only">Next</span></a
  >
</div>
<div class="banners container-fluid d-flex row">
  <div class="first-banner col-lg-6 col-md-6 col-sm-12"></div>
  <div class="second-banner col-lg-6 col-md-6 col-sm-12"></div>
  <div class="third-banner col-lg-6 col-md-12 col-sm-12"></div>
  <div class="fourth-banner col-lg-6 col-md-12 col-sm-12"></div>
</div>
