.container{
  width: 100%;
  height: 450px;
  box-shadow: 2px;
 }


.first-banner{
  background: url(../../assets/img/trotineti-webslider.png) ;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;


}

.second-banner{
  background: url(../../assets/img/huawei-watch-web-slider_.png);
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;


}
.third-banner{
  background: url(../../assets/img/Zen-Book-Series.png);
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}
.fourth-banner{
  background: url(../../assets/img/airpadpro-web-slider.png);
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}
.banners{
  padding: 60px;
  width: 100%;


}
.ad1{
  background: url(../../assets/img/194c31388920a11986784377c7e36a5c.png);


  height: 450px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.ad2{
  background: url(../../assets/img/6559f32281125d66fe9ce3820e9bcf03.png);

  height: 450px;
  width: 100%;

  background-position: center center;
  background-repeat: no-repeat;
}
.ad3{
  background: url(../../assets/img/5ce468ef74da018021c250402095a45d.png);

  height: 450px;
  width: 100%;

  background-position: center center;
  background-repeat: no-repeat;
}
