<div class="container">
  <div *ngIf="is_table_view">
    <div *ngFor="let products of telefoni">
      <app-card-list [products]="products"></app-card-list>
    </div>
  </div>

  <div class="row" *ngIf="!is_table_view">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let products of telefoni">
      <app-card-view [products]="products"></app-card-view>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
