<!-- toggle for grid / list -->

<div class="container d-flex">
  <div class="icons">
    <mat-icon
      class="btn-toggle"
      (click)="tableView(false)"
      matTooltip="Switch Grid"
      >grid_on</mat-icon
    >
    <mat-icon
      class="btn-toggle"
      (click)="tableView(true)"
      matTooltip="Switch Table"
      >menu</mat-icon
    >
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Производител</mat-label>
    <mat-select
      name="article"
      [(ngModel)]="article"
      (selectionChange)="filterArticles()"
    >
      <mat-option value="null"> Сите </mat-option>
      <mat-option *ngFor="let art of articles" [value]="art.manufacturer">
        {{ art.manufacturer }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- <router-outlet></router-outlet> -->
