.container{
  width: 97%;
  height: 70px;

  justify-content: space-between;

  margin-top: 25px;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.icons{
  margin-top: 20px;
  margin-left: 10px;
}
mat-icon{
  cursor: pointer;
  margin-right: 10px;
}
.slider{
  margin-top: 7px;
}
.slider{
  width: 30% !important;
}
