/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
*{
  box-sizing: border-box;
}
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

body{
  background-color:#e8e8e2 !important;
}
